:root {
  --primary: #b2cbf2;
  --primary-darken: #a0bff0;
  --primary-darken-2: #92b6f0;
  --primary-lighten: #c2d6f6;
  --primary-lighten-2: #d1dff6;
  --secondary: #febdbb;
  --secondary-darken: #fe8886;
  --background: #ffffff;
  --text: #252525;
  --warning: #feca65;
  --warning-darken: #fddca6;
}

* {
  margin: 0;
  padding: 0;
  color: var(--text);
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  background-color: var(--primary);
  font-size: 9px;
}

.title,
.subtitle,
button {
  text-transform: uppercase;
}

button,
input {
  color: var(--text);
}

button,
label {
  font-size: 1.1em;
}

input {
  font-size: 1.3em;
}

header {
  padding-block: 1em;
}

.logo {
  text-align: center;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: uppercase;
}

main {
  margin-inline: 2em;
  display: grid;
  background-color: var(--primary-lighten-2);
  border-radius: 1em;
  overflow: hidden;
  gap: 2em;
}

.container.left {
  padding: 2em;
}

.container.right {
  background-color: var(--secondary);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  border-radius: 0.9em;
}

.reset-button {
  position: absolute;
  bottom: 1em;
  right: 1em;
  display: block;
  padding: 0.5em 1.5em;
  background-color: var(--warning-darken);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reset-button:hover {
  background-color: var(--warning);
}

.steps-button {
  position: absolute;
  bottom: 1em;
  left: 1em;
  display: block;
  padding: 0.5em 1.5em;
  background-color: var(--primary-lighten);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.steps-button:hover {
  background-color: var(--primary);
}

.calc-process {
  display: none;
  position: absolute;
  background-color: var(--background);
  border-radius: 5px;
  bottom: 4em;
  left: 1em;
  padding: 1em;
}

.calc-process p {
  line-height: 1.6em;
}

.calc-steps:hover .calc-process {
  display: block;
}

.triangle-figure {
  display: inline-block;
  margin: auto;
  width: 100%;
  height: 150px;
  object-fit: contain;
}

main .title {
  margin-top: 0.5em;
  font-size: 2em;
}

.switch-button {
  margin-bottom: 1em;
}

.formula-group .subtitle {
  font-size: 1.5em;
}

.formula {
  text-align: center;
  padding-block: 0.5em;
  font-weight: bold;
  font-size: 1.4em;
  color: var(--secondary-darken);
}

.input-fields {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 1em;
  gap: 1.5em;
}

.input-fields input {
  width: 40px;
  margin-left: 0.3em;
  padding: 1px 5px;
  color: var(--secondary-darken);
}

.error-message {
  color: red;
  font-size: 0.6em;
  margin-top: 5px;
}

.count-button {
  display: block;
  margin: 2em auto 0;
  width: 150px;
  padding: 0.5em 0;
  background-color: var(--secondary);
  border: 0.5pt solid var(--secondary);
  border-radius: 5px;
  cursor: pointer;
}

.count-button:hover {
  background-color: var(--secondary-darken);
}

.calc-result {
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: center;
  padding-block: 0.3em;
  margin-block: 1em 3em;
  background-color: var(--secondary);
  border-radius: 5px;
}

.calc-result strong,
.calc-result strong * {
  color: #fff;
}

#result-number {
  display: block;
  font-size: 10em;
}

footer {
  padding: 1em 0;
  text-align: center;
}

footer p a {
  text-decoration: none;
}

@media (min-width: 1024px) {
  body {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 10px;
  }

  main {
    max-width: 1800px;
    width: 85%;
    grid-template-columns: 1fr 1fr;
    margin-inline: auto;
    gap: 0;
  }

  .container.left {
    gap: 0;
  }

  .triangle-figure {
    height: 180px;
  }

  .input-fields input {
    width: 50px;
    height: 30px;
  }
}

@media (min-width: 2160px) {
  body {
    font-size: 18px;
  }

  .triangle-figure {
    height: 350px;
  }

  .input-fields input {
    width: 80px;
    height: 40px;
  }
}
